# Paths para compilar el juego contra Vexel + sus deps del workspace.
# (nimby no resuelve el .nimble scripteado de Vexel; ver memoria vexel-web-build-setup.)
--path:"F:/proyectos/vexel.workspace/vexel/src"
--path:"F:/proyectos/vexel.workspace/vmath/src"
--path:"F:/proyectos/vexel.workspace/nimPNG"
--path:"F:/proyectos/vexel.workspace/futhark/src"
--path:"F:/proyectos/vexel.workspace/vecs/src"
--path:"F:/proyectos/vexel.workspace/shadercnim/src"
--path:"F:/proyectos/vexel.workspace/webgpu-nim/src"
--path:"F:/proyectos/vexel.workspace/nglfw/src"
--path:"F:/proyectos/vexel.workspace/rituals/src"
--path:"F:/proyectos/vexel.workspace/termstyle"
--path:"F:/proyectos/vexel.workspace/macroutils/src"
--path:"F:/proyectos/vexel.workspace/nimbleutils/src"
--path:"F:/proyectos/vexel.workspace/graffiti/src"
